Human in the loop 2.json
{
  "name": "Human in the loop 2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -96,
        -80
      ],
      "id": "8c358fe1-d5da-41da-a8a0-f7d79fb67815",
      "name": "Telegram Trigger",
      "webhookId": "2b8fbdba-7fe4-419d-8ff6-3ce13836f943",
      "credentials": {
        "telegramApi": {
          "id": "3nA12LqwBwysogQr",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=You are a professional research-driven LinkedIn content strategist.\n\nYour task is to:\n\n1. Receive a topic from Telegram.\n2. First perform structured research using the Tavily tool named \"search tool\".\n3. Use the Tavily research results as your primary source of truth.\n4. Then generate a high-quality LinkedIn article (~400 words) based on the research.\n\nIMPORTANT WORKFLOW INSTRUCTIONS:\n\nStep 1 — Research Phase:\n- Always call the \"search tool\" (Tavily) before generating the article.\n- Gather recent, relevant, and credible insights.\n- Focus on statistics, trends, expert opinions, and current developments.\n- If needed, refine the search query to improve research quality.\n\nStep 2 — Synthesis Phase:\n- Analyze the Tavily research results.\n- Extract key insights.\n- Identify:\n  - Core theme\n  - Supporting evidence\n  - Practical implications\n  - Future outlook\n\nStep 3 — Article Generation:\n- Write a compelling LinkedIn article of approximately 400 words.\n- Structure the article as follows:\n\n  • Strong hook (first 2–3 lines)\n  • Context or problem statement\n  • Key insights backed by research\n  • Practical takeaways\n  • Forward-looking conclusion\n  • End with 3–5 relevant hashtags\n\nWRITING STYLE REQUIREMENTS:\n- Professional yet conversational tone.\n- Clear and concise.\n- No emojis unless contextually appropriate.\n- Avoid overly technical jargon.\n- Avoid generic filler content.\n- Do not mention Tavily, search tool, research tool, or internal processes.\n- Do not mention that research was performed.\n- Write as if you are a human industry expert sharing insights.\n\nQUALITY CONTROL:\n- Ensure facts align with research findings.\n- Avoid hallucinating statistics.\n- Do not fabricate sources.\n- If research data is limited, state insights carefully without inventing details.\n-Today's Date :{{ $now }}. Today's date  is shared  so that  you  can fetch latest informaation from the  search  tool\nFinal Output:\nReturn only the finished LinkedIn article.\nNo explanations.\nNo tool logs.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        128,
        -80
      ],
      "id": "17d26766-ca92-4f66-8010-0a4f8c6dfaef",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -32,
        256
      ],
      "id": "67c04a86-cd96-45a1-887a-25e579b4cc91",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "5mD8euVeR8OnJ70H",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "options": {
          "start_date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Date', ``, 'string') }}",
          "end_date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Date', ``, 'string') }}"
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        272,
        272
      ],
      "id": "28c6aef4-748c-43a3-a123-694a0bd46889",
      "name": "search tool",
      "credentials": {
        "tavilyApi": {
          "id": "4J9G3AvNc8EXcKty",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "message": "=Is this good to go ? {{ $json.output }}",
        "responseType": "freeText",
        "options": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        672,
        -80
      ],
      "id": "6e3c5204-cb5b-43a1-99af-734b2ff4dbf5",
      "name": "Send message and wait for response",
      "webhookId": "bb390d54-3010-4e72-a78a-a7ffc1a4b045",
      "credentials": {
        "telegramApi": {
          "id": "3nA12LqwBwysogQr",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.data.text }}",
        "categories": {
          "categories": [
            {
              "category": "Approved",
              "description": "=we're  getting a feedback of article. if it has phares like,\n-Good to go \n-Fine\n-ok\n-Post it\n-and other positive and similar phrases"
            },
            {
              "category": "not approved",
              "description": "if it's not in approved category"
            }
          ]
        },
        "options": {
          "enableAutoFixing": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        1040,
        -80
      ],
      "id": "439dcccf-594e-42fe-a613-7d2c025e2706",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Agent:{{ $('Edit Fields').item.json.article }}\n\n\nFeedback:{{ $json.data.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1552,
        64
      ],
      "id": "f0c9054e-e005-485f-9abe-997621bad2c7",
      "name": "revision agent"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1472,
        -112
      ],
      "id": "d8782fd0-2de2-4413-81b5-d9c586f9f306",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aca2185b-8e14-401a-82f2-fad3f1297b2b",
              "name": "article",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        -80
      ],
      "id": "756de4fc-c5a6-4525-87dc-53157c616174",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "revision agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "search tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "revision agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "revision agent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "7d192a81-05ac-4e5a-9b19-eaf12090dbc1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4227a75b6d46c5cf41f1d80deeb5cc32215e53da39ca428fb164beaeb5116f85"
  },
  "id": "pdacKPdsAE2qnLfxUAcwd",
  "tags": []
}